*{
    margin:0px;
    
}
ion-card {
    border: 0px;
    border-radius: 10px;
}
h4{
    text-align: center;
    font-size: 24px;
    font-weight: 600; 
}

.primary-type{
    margin: 0px;
    background-color: #46D27E;
    width: 100%;
    text-align: center;
    border: 0px;
    border-radius: 10;
}

.secondary-type{
    margin: 0px;
    background-color: #46D27E;
    width: 100%;
    text-align: center;
    border: 0px;
    border-radius: 10;
}

