<ion-grid fixed>
  <ion-row>
    <ion-col size="6">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Generation I</ion-card-title>
        </ion-card-header>
        <img src="assets/img/pokeball.png" alt="A pokeball in the background" id="background">
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Generation II</ion-card-title>
        </ion-card-header>
        <img src="assets/img/pokeball.png" alt="A pokeball in the background" id="background">
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Generation III</ion-card-title>
        </ion-card-header>
        <img src="assets/img/pokeball.png" alt="A pokeball in the background" id="background">
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Generation IV</ion-card-title>
        </ion-card-header>
        <img src="assets/img/pokeball.png" alt="A pokeball in the background" id="background">
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Generation V</ion-card-title>
        </ion-card-header>
        <img src="assets/img/pokeball.png" alt="A pokeball in the background" id="background">
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Generation VI</ion-card-title>
        </ion-card-header>
        <img src="assets/img/pokeball.png" alt="A pokeball in the background" id="background">
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Generation VII</ion-card-title>
        </ion-card-header>
        <img src="assets/img/pokeball.png" alt="A pokeball in the background" id="background">
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Generation VIII</ion-card-title>
        </ion-card-header>
        <img src="assets/img/pokeball.png" alt="A pokeball in the background" id="background">
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>